<h1>Caching</h1>
<div class="controls">
  <button mat-raised-button (click)="request()">non-cachable request</button>
  <button mat-raised-button (click)="requestCache(1)">cachable request 1</button>
  <button mat-raised-button (click)="requestCache(2)">cachable request 2</button>
  <button mat-raised-button (click)="response = undefined" color="warn">clear request</button>
</div>

<div class="json-output">
  <pre>{{ response | json }}</pre>
</div>

<div class="cache-log" *ngIf="!!(cache$ | async).length">
  <div class="cache">
    <h2>Cache</h2>
    <button mat-raised-button (click)="clearCache()" color="warn">clear cache & logs</button>
    <div class="cache-list">
      <pre *ngFor="let c of cache$ | async">{{ c | json }}</pre>
    </div>
  </div>
</div>
