.json-output {
  pre {
    white-space: pre-wrap;
  }
}

.cache-item {
  box-shadow: 0px 0px 12px 10px #efefef;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
