<h1>Caching Interceptor</h1>
<div class="controls d-flex mt-3 align-items-center">
  <div class="d-flex flex-column">
    <button
      class="m-2"
      *ngFor="let link of links"
      mat-raised-button
      (click)="request(link.url)"
      [ngClass]="{ 'in-cache': inCache(link.url) }"
    >
      {{ link.name }}
    </button>
    <button class="m-2" mat-raised-button (click)="response = undefined" color="warn">
      clear request
    </button>
  </div>
  <div class="json-output my-3 ml-4">
    <pre>{{ response | json }}</pre>
  </div>
</div>

<mat-divider></mat-divider>
<div class="cache-log d-flex" *ngIf="!!(cache$ | async).length">
  <div class="cache">
    <h2>Cached Requests</h2>
    <button mat-button (click)="clearCache()">clear cache & logs</button>
    <div class="cache-list d-flex flex-wrap">
      <div class="cache-item m-2 p-3" *ngFor="let c of cache$ | async">
        <div class="cache-item-header d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex flex-column">
            <h4 class="m-0 mb-1">Cached request</h4>
            <small>{{ c.key }}</small>
          </div>
          <button mat-icon-button class="ml-3"><mat-icon>close</mat-icon></button>
        </div>
        <mat-divider></mat-divider>
        <pre>{{ c.body | json }}</pre>
      </div>
    </div>
  </div>
</div>
