<h2>NOT Cachable request</h2>
<button mat-button (click)="request()">request</button>
<button mat-button (click)="request$ = undefined">clear request</button>
<br />
<pre>{{ request$ | json }}</pre>

<h2>Cachable request</h2>
<button mat-button (click)="requestCache(1)">request cache 1</button>
<button mat-button (click)="requestCache(2)">request cache 2</button>
<button mat-button (click)="cacheRequest$ = undefined">clear request</button>
<br />
<pre>{{ cacheRequest$ | json }}</pre>

<div class="cache-log">
  <div class="cache">
    <h2>Cache</h2>
    <button mat-button (click)="clearCache()">clear cache</button>
    <ul>
      <li *ngFor="let c of cache$ | async">
        <pre>{{ c | json }}</pre>
      </li>
    </ul>
  </div>
</div>
