<div class="app-container" [class.example-is-mobile]="mobileQuery">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>Angular Interceptors</span>
    <span class="fill-remaining-space"></span>
    <ng-container *ngIf="!mobileQuery">
      <a
        *ngFor="let route of routes"
        [routerLink]="route.path"
        routerLinkActive
        #rla="routerLinkActive"
        ><button mat-button [color]="rla.isActive ? 'accent' : 'primary'">
          {{ route.path }}
        </button></a
      >
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery ? 56 : 0">
    <mat-sidenav
      #snav
      [mode]="mobileQuery ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery"
      fixedTopGap="56"
    >
      {{ logs$ | async }}
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
