.fill-remaining-space {
  flex: 1 1 auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 75%;
  max-width: 320px;
}

mat-sidenav-content {
  padding: 10px 20px;
}

.tac {
  text-align: center;
}

.mobile-nav-links {
  display: flex;
  justify-content: space-evenly;
}

.mat-list-base {
  .log-bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 300;
      font-style: italic;
      padding-right: 2px;
    }
  }
}
