<h1>NOT Cachable request</h1>
<button (click)="request()">request</button>
<br />
<pre>{{ request$ | async | json }}</pre>

<h1>Cachable request</h1>
<button (click)="requestCache(1)">request cache 1</button>
<button (click)="requestCache(2)">request cache 2</button>
<br />
<pre>{{ cacheRequest$ | async | json }}</pre>

<h1>Cache</h1>
<button (click)="clearCache()">clear cache</button>
<ul>
  <li *ngFor="let c of cache$ | async">
    <pre>{{ c | json }}</pre>
  </li>
</ul>
<router-outlet></router-outlet>
